@font-face{
    font-family: Lobster;
    src:url('fonts/Lobster/lobster_1.3-webfont.eot');
    src:url('fonts/Lobster/lobeter_1.3-webfont.eot') format('embedded-opentype'),
        url('fonts/Lobster/lobster_1.3-webfont.woff') format('woff'),
        url('fonts/Lobster/lobster_1.3-webfont.ttf') format('truetype'),
        url('fonts/Lobster/lobster_1.3-webfont.svg') format('svg');
}
@font-face{ /*used for paragraphs/writing*/
    font-family: Ecodesans; /*font is from font squrriel*/
    src:url('fonts/fonts/encodesans-regular-webfont.eot');
    src:url('fonts/fonts/encodesans-regular-webfont.eot') format('embedded-opentype'),
        url('fonts/fonts/encodesans-regular-webfont.woff') format('woff'),
        url('fonts/fonts/encodesans-regular-webfont.ttf') format('truetype'),
        url('fonts/fonts/encodesans-regular-webfont.svg') format('svg');
}
/*body {   
    background: url('images/welcome.png') no-repeat center center fixed;
        -webkit-background-size: cover; /*Used by Safari & Chrome*/
        -moz-background-size: cover; /* Used by Firefox */
        -o-background-size: cover; /* Used by Opera */
        background-size: cover; /* All Modern Browsers 
            }
        */
body{
     font-family: Arizonia;
     background-color: #2b2b2b;
     color: black;
     height: 100%;
 }
h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    font-family: Lobster;
    color: #ffffff;
}
p{
    display: block;
    font-family: 'Ecodesans', sans-serif;
    color: #2b2b2b;
}
ul {
    font-family: 'Ecodesans', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    color: #2b2b2b;
}
ol {
    font-family: 'Ecodesans', Arizonia,sans-serif;
    display: block;
    color: #2b2b2b;
}

li{ 
    float: left; 
}
li a{
    display: inline-block;
    font-family: 'Ecodesans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
